################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/CDB-B3/.vs/
/CDB-B3/bin/
/CDB-B3/obj/
